<section class="oe_container oe_dark" style="overflow: hidden;
background: #efefef;
box-shadow: none;">
    <div class="mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="font-size: 35px;"><b> POS New Fancy odoo receipt</b></h2>
<h3 class="oe_slogn"  style=" text-align: center;"></h3>

        </div>
    </div>
</section>


<section class="container mt32">
    <div class="row">
        <h4 class="oe_slogan" style=" text-align: center;"><span align="center" class="label label-success" style="background-color:#528df3;"> <span class="fa fa-star fa-spin"></span> POS odoo receipt</span></h4>
    </div>
</section>
<br>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Fancy odoo receipt</strong></h1>
        
            <h3 style="font-size: 25px; text-align: center;">New odoo receipt with company logo and customized price lables makes the pos receipt more beautiful and customized with a lot of features. 
                </h3>
    
                
                <br/><br/><br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black; margin:auto;" src="receipt.png">
            </div>
        </div>
    </section>



    
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">ITSS odoo gold partner</h2>
            <h3 class="oe_slogan" style="font-size: 20px; color: #000000 !important;">For integrated technical software solutions</h3>
            <p class="oe_slogan">
                    ITSS OFFERS EXPERIENCED AND COMPREHENSIVE HELP FOR A WIDE RANGE OF BUSINESS NEEDS, AND CAN HELP YOU TO WORK SMARTER AND REACH YOUR GOALS
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<h2 class="oe_slogan">
           <a href="https://www.itss-c.com" target="new">
                <img src="banner.png" style="width: 150px;">
            </a>
            <br>
					<a href="info@itss-c.com" style="color: #000000 !important;">
						Get Help &amp; Support</a>
				</h2>
			</div>
			<br>
			<div class="oe_slogan oe_spaced text-center">
				<a class="btn btn-success mt8" title="Website" style="background-color: rgb(15, 99, 155); color: #FFFFFF !important;" href="https://www.itss-c.com"> Visit Website </a> 
			</div>
		</div>
	</section>

